body{
    background-image:url("../static/imagen/fondo2.jpg"); 
}

input{
    left: 30%;
    display: inline-block;
    position: absolute;
}
.cuadro_actualizar{

    height: 450px;
    width: 500px;
    background-color: rgba(9, 206, 196, 0.822);
    position: relative;
    top: 60px;
    left:50%;
    transform:translateX(-50%);
    border-right: 12px outset #1C6EA4;
    border-bottom: 12px outset #1C6EA4;
    border-radius: 0px 38px 0px 0px;
 
}
label{
    margin: 10px;
    font-family:Arial, Helvetica, sans-serif  ;
    color: rgb(32, 12, 70);
}
h1{
    padding-top: 15px;
    font-family:Arial, Helvetica, sans-serif  ;
    text-align: center;
    text-decoration: underline;
    color: rgb(18, 7, 58);
}

.rostro{
    
    transform: scale(0.5);
    position: absolute;
    display: inline-block;
    left: 300px;
    top:10px;
    border-radius: 0px 38px 0px 0px;
    
}
.menu{
    position: relative;
    left: 50%;
    background-color: black;
}

