.cuadro_edicion{
    position:absolute;
    width: 500px;
    background:linear-gradient(rgb(89, 129, 145), white);
    font-family: Arial, Helvetica, sans-serif;
    left:50%;
    transform: translateX(-50%);
    top:10%;
    
    border:2px solid black;
    border-radius: 0 35px 0 35px;
    padding: 15px;
}
h3{
    margin-left:50%;
    transform: translateX(-50%);
    display:block;
}
label{
    display:block
}
.btnverificar{
    position: absolute;
    left: 50%;
    top:50%;
    transform:translateX(-50%)
}
#cuadro_emergente{
    visibility:hidden;
    position:fixed;
    width: 300px;
    height: 120px;
    left: 50%;
    top: 20%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#def4f4+0,258dc8+11,258dc8+88,def4f4+100 */
    background: rgb(222,244,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(222,244,244,1) 0%, rgba(37,141,200,1) 11%, rgba(37,141,200,1) 88%, rgba(222,244,244,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(222,244,244,1) 0%,rgba(37,141,200,1) 11%,rgba(37,141,200,1) 88%,rgba(222,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(222,244,244,1) 0%,rgba(37,141,200,1) 11%,rgba(37,141,200,1) 88%,rgba(222,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def4f4', endColorstr='#def4f4',GradientType=0 ); /* IE6-9 */

    transform: translateX(-50%);
    z-index: 1;
    border:2px double black;
    border-radius: 10px;

}
h4{
    color: bisque;
    padding: 10px 10px 10px 20px;
    left:50%;
    text-align: center;
}
.InputNvo{
    position: absolute;
    right: 25px;
}
select{
    width: 175px;
    position: absolute;
    right: 25px;
}