body{
    min-height: 100vh;
    background:linear-gradient(rgb(89, 129, 145), white);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    position: absolute;
    left:50%;
    transform: translateX(-50%);

}
.Listado_Principal{
    position: absolute;
    font-size: small;
    top:60px;
    left:15%;
}
.Encabezado{
    font-weight: bold;
    background: black;
    color: blanchedalmond;
 }
 td{
     border:black 1px solid;
 }
.menu{
    position: absolute;
    right:240px;
    top:25px;
}


.overlay_visible{
    background: rgb(0,0,0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    /*visibility: hidden;*/
}

.overlay_hidden{
    background: rgb(0,0,0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
} 
.popup_editar{
    background: blanchedalmond;
    box-shadow: 0px,0px,5px,5px rgb(0,0,0,.3);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 20px;
    width: 600px;



}
.popup_editar h3{
    font-size: 18px;
    display:block;
    text-align: center; 
    margin-bottom: 15px;
    /*opacity: 0;*/
}
.popup_editar label{
    /*opacity: 0;*/

}
.popup_editar input,select{
    position: fixed;
    left:36%;
    width: 200px;
}
.popup_editar form .submit_editar{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    width: 100px;
    height: 35px;
    line-height: 40px;
    border:none;
    color:#fff;
    background:#0e2c8d;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popup_editar form .submit_editar:hover{
    background: rgba(94,125,227,.9 );
}
