.fondo{
    position: absolute; /*Se ubica de acuerdo al objeto padre
    relative => se mueve dentro de la pantalla de acuerdo a su posición 
    original*/
    width: 500px;
    height: 600px;
    background:linear-gradient(rgb(89, 129, 145), white);
    left:50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    border:black 5px solid;
    border-radius: 16px;
}
#caja_logo{
    top:5px;
    display:block;
    height:200px;
    }
#caja_logo img{
    border-left:0%;
    width: 500px;
    height: 200px;
    transform: scale(.50);
}
p{
    margin-left: 10px;
    padding-bottom: -10px;
}
.cuadrado{
    position: absolute;
    height: 250px;
    width: 420px;
    background:linear-gradient(white,rgb(89, 129, 145) );
    left:50%;
    transform: translateX(-50%);
    border:black 2px solid;
    border-radius: 15px 15px;
}
.cuadrado h3{
    text-align: center;
}
.cuadrado label{
    padding-left: 7px;
}
input[type="password"]{
    margin-left: 55px;  
}
.boton{
    height: 30px;
    width: 30%;
    background-color: rgb(191, 219, 230);
    border-color: rgb(106, 107, 110);
    display: block;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    cursor: pointer;
}
a[href="#"]{
    padding-left: 7px;
}