.fondo1{
    position: absolute; /*Se ubica de acuerdo al objeto padre
    relative => se mueve dentro de la pantalla de acuerdo a su posición 
    original*/
    width: 400px;
    height: 600px;
    background:linear-gradient(rgb(89, 129, 145), white);
    left:15%;
    
    font-family: Arial, Helvetica, sans-serif;
    border:black 5px solid;
    border-radius: 16px;
}
#caja_logo{
    top:5px;
    display:block;
    height:200px;
    }
#caja_logo img{
    border-left:0%;
    width: 500px;
    height: 200px;
    transform: scale(.50);
}
.fondo2{
    position: absolute; /*Se ubica de acuerdo al objeto padre
    relative => se mueve dentro de la pantalla de acuerdo a su posición 
    original*/
    width: 400px;
    height: 600px;
    background:linear-gradient(rgb(89, 129, 145), white);
    left:55%;
    
    font-family: Arial, Helvetica, sans-serif;
    border:black 5px solid;
    border-radius: 16px;
} 

.video-wrap{
    position:absolute;
    margin-left: 50%;
    margin-top: 30%;
    transform: translateX(-50%);
    background-color: white;
}

.Bttn_Reconocer{
    position: absolute;
    margin-top: 470px;
    margin-left:50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.boton{
    height: 30px;
    width: 50%;
    background-color: rgb(106, 107, 110);
    border-color: rgb(106, 107, 110);
    display: block;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    box-shadow: 0px 0px 0px 4px white;
  }
.accesorios{
   width: 180px; 
   height: 40px;
   background-color: white;
   position: relative;
   right: -50%;
}
a[href="#"]{
    padding-left: 7px;
}
.logo_IAR{
    
    transform: scale(0.5);
    position: absolute;
    display: inline-block;
    left: 50%;
    transform:translateX(-65%);
    /*top:-362px;*/
    border-right: 12px outset #1C6EA4;
    border-bottom: 12px outset #1C6EA4;
    border-radius: 0px 38px 0px 0px;
    
}
.facial{
    
    transform: scale(0.9);
    position: absolute;
    display: inline-block;
    left: -400px;
    top:-50px;
    border-radius: 0px 38px 0px 0px;
    
}