body{
    background:linear-gradient(rgb(89, 129, 145), white);
    font-family: Arial, Helvetica, sans-serif;
}

.cuadrado{

    height: 300px;
    width: 400px;
    background:linear-gradient(white,rgb(89, 129, 145) );
    position: relative;
    top: 140px;
    left:50%;
    transform:translateX(-50%);
    border-right: 12px outset #1C6EA4;
    border-bottom: 12px outset #1C6EA4;
    border-radius: 0px 38px 0px 0px;
 
}

label{
    margin: 10px;
    color: rgb(12, 5, 68);
}
h3{
    padding-top: 15px;
    font-family:Arial, Helvetica, sans-serif  ;
    text-align: center;
    text-decoration: underline;
    color: rgb(20, 3, 48);
}

.boton{
    height: 30px;
    width: 30%;
    background-color: rgb(191, 219, 230);
    border-color: rgb(106, 107, 110);
    display: block;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    cursor: pointer;
  }

  .logo_IAR{
    
    transform: scale(0.65);
    position: absolute;
    display: inline-block;
    left: -550px;
    top:-160px;
    border-right: 12px outset #1C6EA4;
    border-bottom: 12px outset #1C6EA4;
    border-radius: 0px 38px 0px 0px;
    
}