body{
    min-height: 100vh;
    background:linear-gradient(rgb(89, 129, 145), white);
    font-family: Arial, Helvetica, sans-serif;
}
.cuadro1{
    width:350px ;
    height: 70px;
    top:50px;
    
   
    border:black 3px solid;
}
.cuadro2{
    width:350px ;
    height: 70px;
    background: blue;
    top:120px;
    
    display:inline-block;
    border:black 3px solid;
}



