body{
    min-height: 100vh;
    background:linear-gradient(rgb(89, 129, 145), white);
    font-family: Arial, Helvetica, sans-serif;
}
.cuadro_registro{

    height: 450px;
    width: 700px;
    background-color: rgba(134, 158, 155, 0.822);
    position: absolute;
    top: 60px;
    left:50%;
    transform:translateX(-50%);
    display: inline-block;
    /*border-right: 12px outset #1C6EA4;
    /*border-bottom: 12px outset #1C6EA4;*/
    border-radius: 0px 38px 0px 0px;
}
.ingreso_manual{
    width:350px ;
    height: 280px;
    top:20px;
    display:inline-block;
    border:black 3px solid;
    margin-left: 7px;
    padding-top: 5px;
}
input{
    left: 25%;
    display: inline-block;
    position: absolute;
}
label{
    margin: 10px;
    
    color: rgb(32, 12, 70);
}
h1{
    padding-top: 15px;
    text-align: center;
    text-decoration: underline;
    color: rgb(18, 7, 58);
}
select{
    left: 25%;
    display: inline-block;
    position: absolute;
}

.video-wrap{
    position: absolute;
    display: inline-block;
    left: 420px;
    margin-top:-75x;
    border-radius: 0px 38px 0px 0px;
}
.menu{
    position: relative;
    left: 15%;
}
.Bttn_tomar_Registro{
    margin-left: 68%;
    margin-top:10px ;
}
