.fondo{
    position: absolute; /*Se ubica de acuerdo al objeto padre
    relative => se mueve dentro de la pantalla de acuerdo a su posición 
    original*/
    width: 500px;
    height: 600px;
    background:linear-gradient(rgb(89, 129, 145), white);
    left:50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    border:black 5px solid;
    border-radius: 16px;
}
#caja_logo{
    top:5px;
    display:block;
    height:200px;
    }
#caja_logo img{
    border-left:0%;
    width: 500px;
    height: 200px;
    transform: scale(.50);
}
.cuadrado{
    position: absolute;
    height: 250px;
    width: 420px;
    background:linear-gradient(white,rgb(89, 129, 145) );
    left:50%;
    transform: translateX(-50%);
    border:black 2px solid;
    border-radius: 15px 15px;
    
}
.Verde{
    margin-left: 15px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: green; 
    border: 2px solid green;
    border-radius: 30px; 
    display:inline-flex;
 }
 #Pasa{
     visibility: hidden;
}
#NoPasa{
    visibility: hidden;
}
.Rojo{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    background-color: red; 
    border: 2px solid red;
    border-radius: 30px; 
    display:inline-flex;
    
}
 .registrada{
    position: absolute; 
    margin-left:15px;
    top:-5px;
    display:inline-flex;
    padding: 20px;
}
.Noregistrada{
    position: absolute; 
    margin-left:15px;
    top:70px;
    display:inline-flex;
    padding: 20px;
}
h4{
    position: absolute;
    right: 45px;
    bottom: 60px;
}
.botonMenu{
    position: absolute;
    left: 43%;
    display: block;
}

.botonSi{
    position:absolute;
    bottom: 50px;
    right: 105px;;
}
.botonNo{
    position: absolute;
    bottom: 50px;
    right: 65px;;
}
input{
    visibility: hidden;
}
