<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/editar_usuario.css">
    <title>|Edición de Registros|</title>

</head>
<body>
            
       <form action="/update_registro" method="post">
        <div class="cuadro_edicion">
            <h3>EDICION DE PERSONAS</h3>
            <!-- <h3 id="porfa">Probando</h3> -->
                       
            <input type="hidden" name="IdResidencia" value="{{persona['IdResidencia']}}">
            
            <label> <b>Id:</b></label>
            <input name="IdPersona" style="width:15px" left="10px" value="{{ persona['IdPersona'] }}">
            <br/><br/>
            <label> <b>Nombre: </b></label>
            <input name= "nombres_gui" placeholder="ingrese su nombre..." value="{{ persona['nombres'] }}">
            <input class="InputNvo" name="nombresNvo">
            <br/><br/>
            <label> <b>Apellidos:</b> </label>
            <input name = "apellidos_gui" placeholder="ingrese su apellido..."value="{{persona['apellidos']}}">
            <input class="InputNvo" name="apellidosNvo">
            <br/><br/>
            <label> <b>Tipo Documento:</b> </label>
            <button class="btnverificar" type="button" onclick='document.getElementById("cuadro_emergente").style.visibility = "visible"'>verificar!</button>
            <!-- <button class="btnverificar" type="button" onclick='document.getElementById("Prueba").innerHTML="Muestra el valor"'>verificar!</button> -->
            <div id="cuadro_emergente">
                    <h4 id="Prueba">El usuario con Id <option>{{ persona['IdPersona'] }}</option> va ser cambiado</h4>

            </div>
            <input name = "tipoDoc_gui" value ="{{persona['tipoDoc']}}">
            <select class="selectTipoDoc" name = "tipoDoc_Nvo">
            <option >Registro Civil</option>
            <option>Tarjeta de Identidad</option>
            <option>Cédula de Ciudadanía</option>
            <option>Cédula de Extranjeria</option>
            <option>Otro</option>
            </select>
           <!--  <form action="/pasarNvoDto" method="POST">
                <input type="submit" value="Asignar otro">
            </form>  -->   
            <br/><br/>
            <label><b>Nº Documento:</b>  </label>
            <input name = "numDoc_gui" value="{{persona['numero']}}">
            <input class="InputNvo" name="num_Nvo" placeholder="Número de documento nuevo">
             <br/><br/>
            <label ><b>Teléfono:</b> </label>
            <input >
            <input class="InputNvo" placeholder="Número telefónico nuevo"name="TelefonoNvo">
            <br/><br/>
            <label><b>Status Persona:</b> </label>
            <input name = "status_gui" value="{{persona['status']}}">
            <select name = "status_Nvo" >
                <option>Residente</option>
                <option>Visitante</option>
                <option>Visitante frecuente</option>
                <option>Domiciliario</option>
                <option>Otro</option>
                </select>
            <br/><br/>
            <label><b>Residencia:</b> </label>
            <input name = "residencias_gui" value ="{{persona['Residencia']}}">
            <select name="residencias">
                {% for residencia in residencias %}
                    <option>{{residencia}}</option>
                {% endfor %}
            </select>
            <br/><br/> 
                  
            

            <input type="submit" value="Actualizar">
            <button class="menu" onclick="location.href='../menu'">Menú</button>
        </div>      
        
            
            
            <!-- <input class="submit_editar" type="submit" value="qUE pASA"> -->
            
            <br/><br/>
            
            <!--<input name ="numVivienda_gui" placeholder="ingrese su residencia...">-->
        
        </form>
      
    </body>

    <script>
        function mostrarSelectDoc(){
            [selectTipoDoc].style.visibility = true;
        }
    </script>
</html>
