<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/listado_general.css">
    <title>|Registro general|</title>

</head>
<body>

    <h3>REGISTRO GENERAL DE RESIDENTES</h3>
    <form action="/menu" method="GET">
        <input class="menu" type="submit" value="Menú">
    </form>
<div class="Listado_Principal">
<form method="GET" action="/">
    <table boder="2" cellspacing="1"cellpadding="3">
        <tr class="Encabezado"><td>UNIDAD RESIDENCIAL</td><td align="center">NOMBRE</td>
            <td align="center">APELLIDOS</td><td align="center">STATUS</td><td>TIPO DE DOCUMENTO</td><td>NUMERO</td>
            <td>ID</td><td>RF</td><td>EDITAR</td><td>ELIMINAR</td><td>OTRO</td></tr>
        {%for lista in Usuarios%}
            <tr>
               
                <td>{{lista["IdResidencia"]}}</td>
                <td>{{lista["nombres"]}}</td>
                <td>{{lista["apellidos"]}}</td>
                <td>{{lista["status"]}}</td>
                <td>{{lista["tipoDoc"]}}</td>
                <td>{{lista["numero"]}}</td>
                <td name="IdPerson">{{lista["IdPersona"]}}</td>
                <td>{{"Un booleano que diga Sí-No"}}</td>
                
</form>
            <form target="_blank"
             method="POST" action="/read_person_by_Id">
                <td><button class="Boton_editar" name="Boton_editar" value={{lista["IdPersona"]}}>Editar</button></td>
            </form>
            <form target="_blank"
             method="POST" action="/delete_person_by_Id">
                <td><button class="Boton_eliminar" name="Boton_eliminar" value={{lista["IdPersona"]}}>Eliminar</button></td>
            </form>
        
        <form target="_blank"
         method="GET" action="/prueba">
            <!-- <td><input type="submit" value={{lista["IdPersona"]}}> Otro</td> -->
            <td><button class="Boton_eliminar" name="Boton_otro" value={{lista["IdPersona"]}}>oTRO</button></td>
        </form>

                <!-- <td><input type="submit" value="eliminar"></td> -->
                
                    
        {%endfor%}
        
    </table>
<!-- </div>
{%if editar==True%}
    <div class="overlay_visible" id="overlay">    
{%else %}
    <div class="overlay_hidden" id="overlay">
{%endif%}

<div class="overlay" id="overlay">
    <div class="popup_editar" id="popup_editar">
       <a href="#" id="btn_cerrar_popup" class="btn_cerrar_popup"></a> 
       <h3>EDICION DE PERSONAS</h3>
       <form action="/crear_registro" method="post">
        <div class="cuadro_edicion">
            <label> <b>Nombre: </b></label>
            <input name= "nombres_gui" placeholder="ingrese su nombre...">
            <br/><br/>
            <label> <b>Apellidos:</b> </label>
            <input name = "apellidos_gui" placeholder="ingrese su apellido...">
            <br/><br/>
            <label> <b>Tipo Documento:</b> </label>
            <select name = "tipoDoc_gui">
            <option>Registro Civil</option>
            <option>Tarjeta de Identidad</option>
            <option>Cédula de Ciudadanía</option>
            <option>Cédula de Extranjeria</option>
            <option>Otro</option>
            </select>
            <br/><br/>
            <label><b>Nº Documento:</b>  </label>
            <input name = "numDoc_gui" placeholder="ingrese su Nº documento...">
             <br/><br/>
            <label ><b>Teléfono:</b> </label>
            <input placeholder="ingrese su Telefono...">
            <br/><br/>
            <label><b>Status Persona:</b> </label>
            <select name = "status_gui">
                <option>Residente</option>
                <option>Visitante</option>
                <option>Visitante frecuente</option>
                <option>Domiciliario</option>
                <option>Otro</option>
                </select>
            <br/><br/>
            <label><b>Residencia:</b> </label>
            <select name="residencias">
                {% for residencia in residencias %}
                    <option>{{residencia}}</option>
                {% endfor %}
            </select>    
        </div>      
            <!--<input name ="numVivienda_gui" placeholder="ingrese su residencia..."
            <br/>
            <input class="submit_editar" type="submit" value="Guardar">
            <button class="menu" onclick="location.href='../menu'">Menú</button>
            <br/><br/>
            
         -->   
        
        </form>

    </div>

</div>
 
<script src="popup.js"></script>
    
</body>
</html>