<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Pruebas</title>
</head>
<body>
    <div class="cuadrado">
        <h2><b>PRUEBAS</b></h2>
    </br></br>
    <label><b>Residencia:</b> </label>
            <select name="residencias">
                {% for residencia in residencias %}
                    <option>{{residencia}}</option>
                {% endfor %}
            </select>
    </br></br>
    <label>Texto de Prueba:</label>
    <input type="text" value={{xxx}}>
        


    </div>    
    
</body>
</html>