<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Registro_Usuario.css">
    <title>| Registro de usuarios |</title>
</head>
<body> 
    <div class="cuadro_registro">
        <h1>Registro de Usuarios  IAR</h1>
        <div class="ingreso_manual">
            <form action="/crear_registro" method="post">
        
            <label> <b>Nombre: </b></label>
            <input name= "nombres_gui" placeholder="ingrese su nombre...">
            <br/><br/>
            <label> <b>Apellidos:</b> </label>
            <input name = "apellidos_gui" placeholder="ingrese su apellido...">
            <br/><br/>
            <label> <b>Tipo Documento:</b> </label>
            <select name = "tipoDoc_gui">
            <option>Registro Civil</option>
            <option>Tarjeta de Identidad</option>
            <option>Cédula de Ciudadanía</option>
            <option>Cédula de Extranjeria</option>
            <option>Otro</option>
            </select>
            <br/><br/>
            <label><b>Nº Documento:</b>  </label>
            <input name = "numDoc_gui" placeholder="ingrese su Nº documento...">
            <br/><br/>
            <label ><b>Teléfono:</b> </label>
            <input placeholder="ingrese su Telefono...">
            <br/><br/>
            <label><b>Status Persona:</b> </label>
            <select name = "status_gui">
                <option>Residente</option>
                <option>Visitante</option>
                <option>Visitante frecuente</option>
                <option>Domiciliario</option>
                <option>Otro</option>
                </select>
            <br/><br/>
            <label><b>Residencia:</b> </label>
            <select name="residencias">
                {% for residencia in residencias %}
                    <option>{{residencia}}</option>
                {% endfor %}
            </select>    

            <!--<input name ="numVivienda_gui" placeholder="ingrese su residencia...">-->
            <br/><br/>
            <input type="submit" value="Registrarse">
        </form>
        <form action="/menu" method="GET">
            <input class="menu" type="submit" value="Menú">
        </form>
    </div>    
      <!--    <input name="proof" >
        <h3>hola {{residencias}}</h3>Para quitar luego-->
       
        <!--<img class="rostro" src="../static/imagen/rostro.jpg"> -->
        <div class="video-wrap">
            <video id="video" playsinline autoplay></video>
        </div>
        <div class="Bttn_tomar_Registro">
          <form action="/capturandoNuevo" method="GET">
              <input type="submit" value="Tomar Registro">
              <!-- <button onclick="stop();">Tomar Registros </button> -->
          </form> 
        </div>      
        
    </div>    
        <!-- Webcam video snapshot -->
        
        <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const snap = document.getElementById("snap");
        const errorMsgElement = document.querySelector('span#errorMsg');
        
        const constraints = {
          //audio: true,
          video: {
            width: 250, height: 300
          }
        };
        
        // Access webcam
        async function init() {
          try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
          } catch (e) {
            errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
          }
        }
        
        // Success
        function handleSuccess(stream) {
          window.stream = stream;
          video.srcObject = stream;
        }
        
        // Load init
        init();
        
        // Draw image
        var context = canvas.getContext('2d');
        snap.addEventListener("click", function() {
                context.drawImage(video, 0, 0, 640, 480);
        });
        
        </script>
        <script>
        function stop(){
          stream.getTracks().forEach(function(track) {
            track.stop();
          });
          window.location.href ="/reconocimiento";
        }
        function ir_menu(){
            window.lacation.href ="/menu";
        }
        </script>
        
        
            
            
    
</body>
</html>