<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Registro_UsuariosN.css">
    <title>Document</title>
</head>
<style>
.selectTipoDoc{
    visibility:visible;
}
.cuadro2{
    width:350px ;
    height: 70px;
    background: red;
    top:120px;
    
    display:inline-block;
    border:black 3px solid;
}

</style>
<body>
    <div class="cuadro1"></div>
    <div class="cuadro2"></div>

    <label> <b>Tipo Documento:</b> </label>
    <input name = "tipoDoc_gui" value ="{{persona['tipoDoc']}}">
    
    <button id="Btn1" onclick="mostrarSelectDoc()">otro...</button>
    
    <select class="selectTipoDoc" name = "tipoDoc_gui">
    <option >Registro Civil</option>
    <option>Tarjeta de Identidad</option>
    <option>Cédula de Ciudadanía</option>
    <option>Cédula de Extranjeria</option>
    <option>Otro</option>
    </select>
    
</body>

<script>
    var elementoOculto=document.getElementsByClassName("cuadro2");
    elementoOculto.style.color="hotpink";
    
</script>
</html>