<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>| Login Manual |</title>
    <link rel="stylesheet" href="../static/semaforo.css">
</head>

<body>
<div class=fondo>
    <div id="caja_logo">
      <img  src="../static/imagen/logoIAR_2.jpg" >  
    </div>

    </br>
    <div class="cuadrado">

      <div id="Pasa">
        <div class="Verde"></div>
        <h2 class="registrada">Persona Registrada</h2>
        <button class="botonMenu" onclick="location.href='../menu'">Menu</button>
      </div>
      </br>
      <div Id="NoPasa">
        <div class="Rojo"></div>
        <h2 class="Noregistrada">Persona No Registrada</h2>
      
        <h4>¿Desea registrarse?</h4>
        
        <button class="botonSi" onclick="location.href='../crear_registro'">Sí</button>
        <button class="botonNo" onclick="location.href='../menu'">No</button>
        
      </div>  
        
    </div>        
    
  </div>

  <!-- <input id = "recibir" value="1"> -->
  <input id = "recibir" value="{{reconoce}}">
  <script>
    var xxx = document.getElementById('NoPasa')
    var yyy = document.getElementById('Pasa')
    var recibido = document.getElementById('recibir').value;
    
    setTimeout(function(){   
      if (recibido=="1"){
        xxx.style.visibility = "visible";
        yyy.style.visibility = "hidden";
       }else if (recibido=="2"){
        xxx.style.visibility = "hidden";
        yyy.style.visibility = "visible";
       }},500)
  </script>
      
</body>
</html>
